h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

button{
    color: #fff;
    width: 200px;
    height: 100px;
    background-color: #003366;
}

.container{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-right: 20px;
}

ul{
    align-content: left;
    background-color: #fff;
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0%;
}

.lista{
    box-sizing: border-box;
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:16px;
}


