body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o título da página */
.title-section {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
}

.page-title {
    font-family: Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #003366;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.category-table {
    width: calc(100% / 7 - 20px);
    height: 120px;
    margin: 10px;
    border-collapse: separate;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
}

.category-table th {
    text-align: center;
    background-color: #003366;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.category-table a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    transition: color 0.3s ease;
}

/* Responsividade */
@media (max-width: 768px) {
    .category-section {
        margin-top: 60px;
    }

    .category-table {
        width: calc(48% - 20px);
        height: 100px;
        margin: 10px;
    }

    .category-table th {
        font-size: 16px;
    }

    .category-table a {
        font-size: 14px;
        line-height: 20px;
    }

    .category-table:nth-child(2n) {
        margin-right: 20px;
    }

    
}
