        body {
            margin: 0;
            padding: 0;
        }

        .menu {
            background-color: #00D084;
            width: 370px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 30px;
            overflow: hidden;
            padding: 20px;
            margin-bottom: 20px;
            /* Diminui a margem inferior */
        }

        .menu .title {
            color: #FFFFFF;
            text-align: left;
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0 5px;
        }

        .menu .subtitle {
            color: #FFFFFF;
            text-align: left;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0 0 20px;
        }

        .menu hr {
            border: none;
            border-top: 3px solid #FFFFFF;
            margin: 10px 0;
        }

        .menu .course-title {
            color: #FFFFFF;
            text-align: left;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px 0;
        }

        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            height: calc(100vh - 381px);
            /* Ajusta a altura da lista de cursos */
        }

        .menu ul::-webkit-scrollbar {
            width: 5px;
            /* Largura da barra de rolagem */
        }

        .menu ul::-webkit-scrollbar-track {
            background: #F1F1F1;
            /* Cor do fundo da barra de rolagem */
        }

        .menu ul::-webkit-scrollbar-thumb {
            background: #888;
            /* Cor da barra de rolagem */
        }

        .menu ul::-webkit-scrollbar-thumb:hover {
            background: #555;
            /* Cor da barra de rolagem em hover */
        }

        .menu li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .menu label {
            font-family: Arial, Helvetica, sans-serif;
            color: #FFFFFF;
            margin-left: 5px;
            float: left;
            width: 80%;
        }

        .menu input[type="radio"] {
            margin-right: 5px;
            float: right;
            width: 20%;
            cursor: pointer;
        }

        .menu .course-list li {
            background-color: #00D084;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #CCCCCC;
            overflow: hidden;
        }

        .menu .course-list label {
            display: block;
            color: #FFFFFF;
        }

        .menu .continue-button {
            margin-top: 10px;
            /* Move o botão para baixo */
            width: 100%;
            background-color: #E4851F;
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }

        .menu .course-list li.selected {
            background-color: #E4851F;
        }
