.c1 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c1 th {
    background-color: #003366;
    color: #fff;
}

.c2 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c2 th {
    background-color: #003366;
    color: #fff;
}

.c3 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c3 th {
    background-color: #003366;
    color: #fff;
}

.c4 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c4 th {
    background-color: #003366;
    color: #fff;
}
.c5 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c5 th {
    background-color: #003366;
    color: #fff;
}

.c6 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c6 th {
    background-color: #003366;
    color: #fff;
}

.c7 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c7 th {
    background-color: #003366;
    color: #fff;
}

.c8 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c8 th {
    background-color: #003366;
    color: #fff;
}

.c9 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c9 th {
    background-color: #003366;
    color: #fff;
}

.c10 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c10 th {
    background-color: #003366;
    color: #fff;
}

.c11 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c11 th {
    background-color: #003366;
    color: #fff;
}
.c12 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c12 th {
    background-color: #003366;
    color: #fff;
}

.c13 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c13 th {
    background-color: #003366;
    color: #fff;
}

.c14 {
    width: 13%;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}

.c14 th {
    background-color: #003366;
    color: #fff;
}

.p1{
    align-items: center;
}

a{
 color: #fff;
 text-decoration: none;
}
